<!DOCTYPE html>
<html>
<head>
    <title> Inmatning av Datum</title>
</head>
<body>
    <h1>
        Ange ett Datum
    </h1>
    <form>
        <label for ="year"> År:</label>
        <input type="number" id="year" name="year" required>
        <br><br>
        <label for="month">Month:</label>
        <input type="number" id="month" name="month" required>
        <br><br>
        <label for="day">Dag:</label>
        <input type="number" id="day" name="day" required>
        <br><br>
        <input type="submit"value skicka>
    </form>
</body>

</html>